.user-goal .user-goal-top { height: 40px; background: transparent url(user_goals_bg.png) no-repeat scroll -24px 0; }
.user-goal .user-goal-top-inner { position: relative; top: 0; left: -12px; height: 40px; margin: 0 12px; }
.user-goal .user-goal-slider { position: absolute; top: 0; left: 0; height: 15px; width: 24px; padding-top: 25px; text-align: center; background: transparent url(user_goals_bg.png) no-repeat scroll 0 0; }
.user-goal .user-goal-slider-inner { background-color: #ffffff; border-bottom: 2px solid #cccccc; padding-top: 1px; }
.user-goal .user-goal-start { float: left; margin-right: 2em; }
.user-goal .user-goal-end { float: right; margin-left: 2em; }
.user-goal .user-goal-message { clear: both; text-align: center; }

#user-profile-form fieldset.user-goals-preview { float: right; width: 200px; margin: 1.6em 25px 0; padding: 5px 10px; }
#user-profile-form fieldset.user-goals-preview input.form-submit { float: right; margin-top: 15px; display: none; }
html.js #user-profile-form fieldset.user-goals-preview input.form-submit { display: block; }
